
.image-carousel img{max-width:100%
}
.image-carousel{height:100%;margin-top:-12vh;position:relative;display:flex;align-items:center;justify-content:center
}
.image-carousel .controls{position:absolute;width:100%;display:flex;justify-content:space-between
}

.carousel-control{padding:1em;color:#fff;opacity:.85;cursor:pointer
}
@media (min-width:744px) {
.carousel-control{font-style:3rem
}
}
